@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html, body {
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* bg color #0F111F */
/* bg-gray-900
text-purple-600
*/

/* s {
    primary background-color: #0f111fbe;
    secondary background-color: #101828;
} */

/* scoll bar styles */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f111f;
}
::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

@media screen and (max-width: 640px) {
    * {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: auto; /* Internet Explorer and Edge */
    }               
    
}